@model VMEmployeeDepartment
@{
    ViewData["Title"] = "Employee";

}

@section Body{ 

    <div class="container" style="margin-top:20px;border:1px solid blue;">
        <form method="post" enctype="multipart/form-data">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Department Name</th>
                        <th>Minmum Salary</th>

                        <th>Maxmum Salary</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Department item in Model.departments)
                    {


                    <tr>
                        <td>@item.Name</td>
                        <td>@item.MaxSalary</td>
                        <td>@item.MinSalary</td>
                        <td><a asp-route-id="@item.Id" asp-action="EmpInDept">Details</a></td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class=" row"style="margin-top:20px">
            <input type="submit" value="AddEmployee" class="btn btn-primary col-md-offset-4" asp-action="NewEmployee"/>
        </div>
        <div class="row "style="margin-top:20px">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Employee item in Model.employees)
                    {


                    <tr>
                        <td><img src="@item.ImgPath" /></td>
                        <td>@item.Name</td>

                        <td>@item.Phone</td>
                        <td> <a asp-route-id="@item.Id" asp-action="Delete">Delete</a></td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
            </form>
    </div>

}